@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;


}
body{

    background: rgba(4, 132, 187, 0.753);
    
}
.bdy
{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 60%;
    height: 250px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    
}
@media only screen and (max-width:800px) {
    /* For tablets: */
    .bdy {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }

  /* payment head is pead an robin marakkalle*/

  .header1{
    box-sizing: border-box;

    position:relative ;
    text-align: center;
    
}

  .phead{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    align-items: center;
    text-shadow: 2px 2px 5px rgba(250, 250, 250, 0.296);
    
  }
  
  @media screen and (min-width: 601px) {
    phead {
      font-size: 80px;
    }
  }
  
  @media screen and (max-width: 600px) {
    phead {
      font-size: 30px;
    }
  }




  /* card sectiom */

  .container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;

}
.container .card
{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(225, 225, 225, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(225, 225, 225, 0.5);
    border-left: 1px solid rgba(225, 225, 225, 0.5);
    backdrop-filter: blur(5px);

}
.container .card .content
{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 1;
    transform: 0.5s;

}
.container .card:hover .content
{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2
{
    position: absolute;
    top: -40px;
    right: 30px;
    font-size: 8em;
    color: rgba(225, 225, 225, 0.5);
    pointer-events: none;

}
.container .card .content h3
{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
    text-shadow: 5px 2px 10px rgb(0, 0, 0);
}
.container .card .content p
{
    font-size: 1em;
    color: #fff;
    font-weight:300 ;
    text-shadow: 10px 2px 10px rgb(0, 0, 0);
}
.container .card .content a
{
   
    font-family: serif;
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-transform: none;
    font-weight: 500;
    box-shadow: 0.5px 15px rgba(0, 0, 0, 0.629);
    text-decoration: none;


}
