@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;


}
body{

    background: rgba(0, 0, 0, 0.922);
    
}
.bdy
{
   background-image: url(team/img/67726326.png);
   mask-repeat: no-repeat;

    
    width: 60%;
    height: 250px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    
}
@media only screen and (max-width:800px) {
    /* For tablets: */
    .bdy {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }

  /* payment head is pead an robin marakkalle*/

  .header1{
    box-sizing: border-box;

    position:relative ;
    text-align: center;
    
}

  .phead{
    font-family: sans-serif;
    font-size: 20px;
    margin: 0 5px 0 0;
    align-items: center;
    color: white;
    
  }
  
  @media screen and (min-width: 601px) {
    phead {
      font-size: 80px;
    }
  }
  
  @media screen and (max-width: 600px) {
    phead {
      font-size: 30px;
    }
  }




  /* card sectiom */

  .container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;

}
.container .card
{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(225, 225, 225, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(225, 225, 225, 0.5);
    border-left: 1px solid rgba(225, 225, 225, 0.5);
    backdrop-filter: blur(5px);

}
.container .card .content
{
    padding: 20px;
    text-align: center;
    /* transform: translateY(100px); */
    opacity: 1;
    transform: 0.5s;

}
.container .card:hover .content
{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2
{
    position: absolute;
    top: -40px;
    right: 30px;
    font-size: 8em;
    color: rgba(225, 225, 225, 0.5);
    pointer-events: none;

}
.container .card .content h3
{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
    text-shadow: 5px 2px 10px rgb(0, 0, 0);
}
.container .card .content p
{
    font-size: 1em;
    color: #fff;
    font-weight:300 ;
    text-shadow: 10px 2px 10px rgb(0, 0, 0);
}
.container .card .content a
{
   
    font-family: serif;
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-transform: none;
    font-weight: 500;
    box-shadow: 0.5px 15px rgba(0, 0, 0, 0.629);
    text-decoration: none;


}


/* navbar */

p{
  font-family: sans-serif;
}



/* //head` robin */

.header-fixed {
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}



.header-fixed-placeholder{
	height: 80px;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
  transition: 0.5s;
	opacity: 0.99;
  color: blueviolet;

}

.header-fixed .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13x;
	}

	body.fixed .header-fixed {
		display: none;
	}

}



body {
	margin: 0;
	padding: 0;
	height: 1500px;
}

@media only screen and (max-width: 600px) {
 
}

#rock{

  color: white;
}