body{
    margin: 0;
    padding: 0;
    font-family: serif;
    background: linear-gradient(120deg,#dee3e700,#ffffff);
    height: 100vh;
    overflow: hidden;
}
.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius:10px ;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form  .text_feild{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.text_feild input
{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.text_feild label
{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translate(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.text_feild span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background:#2691d9;
    transition: .5s;

}
.text_feild input:focus ~ label,
.text_feild input:valid ~ label{

    top: -5px;
    color: #2691d9;

}
.text_feild input:focus ~ span::before,
.text_feild input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5x  0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;

}
.pass:hover
{
    text-decoration: underline;

}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{

        border-color: #2691d9;
        transition: .5s;

}
.signup_link
{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
    color: #2691d9;
    text-decoration: none;

}
.signup_link a:hover{
    text-decoration: underline;
}