body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: lightblue;
    background-size: cover;
    background-position: center;

}
.sign-up-form{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.sign-up-form h1{

    color: #1c8adb;
    margin-bottom: 30px;
}
.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0px;
    width: 90%;
    border: 1px solid #999 ;
    outline: none;
    
}
button
{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.sign-up-btn
{
    background-color: #0b4873;

}
.sign-up-btn:hover{
    background-color: #1994ecea;
    transition: .5s;
}

.twitter-btn{
    background-color: #0b4873;
}
.twitter-btn:hover
{
    background-color: #1994ecea;
    transition: .5s;

}
a{
    text-decoration: none;

}

hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;   
}

img{
    width:70px;
    margin-top: -50px;

}
img:hover{
    width:80px;
    margin-top: -50px;
    transition: .5s;

}